{% trans_default_domain 'NovosgaReportsBundle' %}

<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>{% trans %}report.service{% endtrans %}</th>
            <th>{% trans %}report.status{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for servico in relatorio.dados %}
            <tr>
                <td class="strong">{{ servico.nome }}</td>
                <td class="w100 center">
                    {% if servico.ativo %}
                        <span class="status-active">{% trans %}report.subservice.enabled{% endtrans %}</span>
                    {% else %}
                        <span class="status-inactive">{% trans %}report.subservice.disabled{% endtrans %}</span>
                    {% endif %}
                </td>
            </tr>
            {% if servico.subServicos|length %}
                <tr class="sub-table">
                    <td colspan="2">
                        <table class="table table-bordered table-striped subservicos">
                            <thead>
                                <tr>
                                    <th>{% trans %}report.subservice{% endtrans %}</th>
                                    <th>{% trans %}report.status{% endtrans %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for subServico in servico.subServicos %}
                                <tr>
                                    <td class="nome">{{ subServico.nome }}</td>
                                    <td class="w100 center">
                                        {% if subServico.ativo %}
                                            <span class="status-active">{% trans %}report.subservice.enabled{% endtrans %}</span>
                                        {% else %}
                                            <span class="status-inactive">{% trans %}report.subservice.disabled{% endtrans %}</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>